@page "/editor"
@page "/"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Diagram.SymbolPalette
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Layouts
@using System.Collections.ObjectModel
@using NodeRed.Blazor.Models
@using NodeRed.SDK
@inject INodeRegistry NodeRegistry
@inject IFlowRuntime FlowRuntime
@inject IFlowStorage FlowStorage
@inject IJSRuntime JSRuntime
@inject NodeLoader NodeLoader

<PageTitle>Node-RED</PageTitle>

<div class="red-ui-editor">
    <!-- Header -->
    <div id="red-ui-header">
        <span class="red-ui-header-logo">
            <a href="#">
                <img src="https://nodered.org/about/resources/media/node-red-icon.svg" alt="" />
                <span>Node-RED</span>
            </a>
        </span>
        
        <ul class="red-ui-header-toolbar">
            <li class="red-ui-deploy-button-group">
                <a id="red-ui-header-button-deploy" class="red-ui-deploy-button @(HasUnsavedChanges ? "" : "disabled") @(HasBeenDeployed && !HasUnsavedChanges ? "deployed" : "")" @onclick="OnDeployClick">
                    <span class="red-ui-deploy-button-content">
                        <i class="fa fa-download"></i>
                        <span>Deploy</span>
                    </span>
                </a>
                <a class="red-ui-deploy-button red-ui-deploy-button-options" @onclick="ToggleDeployMenu">
                    <i class="fa fa-caret-down"></i>
                </a>
                @if (IsDeployMenuOpen)
                {
                    <div class="red-ui-menu red-ui-deploy-menu">
                        <a class="red-ui-menu-item @(DeployMode == "full" ? "active" : "")" @onclick="@(() => SetDeployMode("full"))">
                            <i class="fa fa-check"></i> Full
                            <span class="red-ui-menu-item-desc">deploy everything in the workspace</span>
                        </a>
                        <a class="red-ui-menu-item @(DeployMode == "flows" ? "active" : "")" @onclick="@(() => SetDeployMode("flows"))">
                            <i class="fa fa-check"></i> Modified Flows
                            <span class="red-ui-menu-item-desc">only deploy flows that contain changed nodes</span>
                        </a>
                        <a class="red-ui-menu-item @(DeployMode == "nodes" ? "active" : "")" @onclick="@(() => SetDeployMode("nodes"))">
                            <i class="fa fa-check"></i> Modified Nodes
                            <span class="red-ui-menu-item-desc">only deploy nodes that have changed</span>
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        @if (FlowRuntime.State == FlowState.Running)
                        {
                            <a class="red-ui-menu-item" @onclick="OnStopClick">
                                <i class="fa fa-stop"></i> Stop flows
                                <span class="red-ui-menu-item-desc">stop all running flows</span>
                            </a>
                        }
                        else if (HasBeenDeployed)
                        {
                            <a class="red-ui-menu-item" @onclick="OnStartClick">
                                <i class="fa fa-play"></i> Start flows
                                <span class="red-ui-menu-item-desc">start all flows</span>
                            </a>
                        }
                        <a class="red-ui-menu-item" @onclick="OnRestartClick">
                            <i class="fa fa-refresh"></i> Restart flows
                            <span class="red-ui-menu-item-desc">reload and restart all flows</span>
                        </a>
                    </div>
                }
            </li>
            <li>
                <a class="red-ui-header-button" @onclick="ToggleMainMenu" title="Menu">
                    <i class="fa fa-bars"></i>
                </a>
                @if (IsMainMenuOpen)
                {
                    <div class="red-ui-menu red-ui-main-menu">
                        <a class="red-ui-menu-item" @onclick="OnImportClick">
                            <i class="fa fa-clipboard"></i> Import
                        </a>
                        <a class="red-ui-menu-item" @onclick="OnExportClick">
                            <i class="fa fa-share-square-o"></i> Export
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        <a class="red-ui-menu-item @(_undoStack.Count == 0 ? "disabled" : "")" @onclick="Undo">
                            <i class="fa fa-undo"></i> Undo <span class="red-ui-menu-shortcut">Ctrl+Z</span>
                        </a>
                        <a class="red-ui-menu-item @(_redoStack.Count == 0 ? "disabled" : "")" @onclick="Redo">
                            <i class="fa fa-repeat"></i> Redo <span class="red-ui-menu-shortcut">Ctrl+Y</span>
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        <a class="red-ui-menu-item @(SelectedDiagramNode == null ? "disabled" : "")" @onclick="CutSelection">
                            <i class="fa fa-cut"></i> Cut <span class="red-ui-menu-shortcut">Ctrl+X</span>
                        </a>
                        <a class="red-ui-menu-item @(SelectedDiagramNode == null ? "disabled" : "")" @onclick="CopySelection">
                            <i class="fa fa-copy"></i> Copy <span class="red-ui-menu-shortcut">Ctrl+C</span>
                        </a>
                        <a class="red-ui-menu-item @(string.IsNullOrEmpty(_nodeClipboard) ? "disabled" : "")" @onclick="PasteFromClipboard">
                            <i class="fa fa-paste"></i> Paste <span class="red-ui-menu-shortcut">Ctrl+V</span>
                        </a>
                        <a class="red-ui-menu-item @(SelectedDiagramNode == null ? "disabled" : "")" @onclick="DeleteSelection">
                            <i class="fa fa-trash"></i> Delete <span class="red-ui-menu-shortcut">Delete</span>
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        <a class="red-ui-menu-item" @onclick="OnSearchClick">
                            <i class="fa fa-search"></i> Search flows <span class="red-ui-menu-shortcut">Ctrl+.</span>
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        <a class="red-ui-menu-item" @onclick="OnConfigNodesClick">
                            <i class="fa fa-cube"></i> Configuration nodes
                        </a>
                        <a class="red-ui-menu-item" @onclick="OnFlowsClick">
                            <i class="fa fa-sitemap"></i> Flows
                        </a>
                        @{
                            var currentFlow = Flows.FirstOrDefault(f => f.Id == CurrentFlowId);
                        }
                        @if (currentFlow != null)
                        {
                            @if (currentFlow.Disabled)
                            {
                                <a class="red-ui-menu-item" @onclick="EnableCurrentFlow">
                                    <i class="fa fa-check"></i> Enable flow
                                </a>
                            }
                            else
                            {
                                <a class="red-ui-menu-item" @onclick="DisableCurrentFlow">
                                    <i class="fa fa-ban"></i> Disable flow
                                </a>
                            }
                        }
                        <a class="red-ui-menu-item" @onclick="OnSubflowsClick">
                            <i class="fa fa-th-large"></i> Subflows
                        </a>
                        <a class="red-ui-menu-item" @onclick="OnGroupsClick">
                            <i class="fa fa-object-group"></i> Groups
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        <a class="red-ui-menu-item" @onclick="OnManagePaletteClick">
                            <i class="fa fa-cubes"></i> Manage palette
                        </a>
                        <a class="red-ui-menu-item" @onclick="OnSettingsClick">
                            <i class="fa fa-cog"></i> Settings
                        </a>
                        <a class="red-ui-menu-item" @onclick="OnKeyboardShortcutsClick">
                            <i class="fa fa-keyboard-o"></i> Keyboard shortcuts
                        </a>
                        <div class="red-ui-menu-divider"></div>
                        @if (FlowRuntime.State == FlowState.Running)
                        {
                            <a class="red-ui-menu-item" @onclick="OnStopClick">
                                <i class="fa fa-stop"></i> Stop flows
                            </a>
                        }
                        else if (HasBeenDeployed)
                        {
                            <a class="red-ui-menu-item" @onclick="OnStartClick">
                                <i class="fa fa-play"></i> Start flows
                            </a>
                        }
                        <a class="red-ui-menu-item" @onclick="OnRestartClick">
                            <i class="fa fa-refresh"></i> Restart flows
                        </a>
                    </div>
                }
            </li>
        </ul>
    </div>

    <!-- Import Dialog -->
    @if (IsImportDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseImportDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Import nodes</span>
                    <a class="red-ui-dialog-close" @onclick="CloseImportDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <p>Paste your flow JSON below:</p>
                    <textarea @bind="ImportJson" rows="15" class="red-ui-dialog-textarea"></textarea>
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseImportDialog">Cancel</button>
                    <button class="red-ui-button red-ui-button-primary" @onclick="ConfirmImport">Import</button>
                </div>
            </div>
        </div>
    }

    <!-- Export Dialog -->
    @if (IsExportDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseExportDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Export nodes to clipboard</span>
                    <a class="red-ui-dialog-close" @onclick="CloseExportDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <div class="red-ui-dialog-tabs">
                        <a class="@(ExportFormat == "pretty" ? "active" : "")" @onclick="@(() => SetExportFormat("pretty"))">formatted</a>
                        <a class="@(ExportFormat == "minified" ? "active" : "")" @onclick="@(() => SetExportFormat("minified"))">minified</a>
                    </div>
                    <textarea readonly value="@ExportJson" rows="15" class="red-ui-dialog-textarea"></textarea>
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseExportDialog">Close</button>
                    <button class="red-ui-button red-ui-button-primary" @onclick="CopyExportToClipboard">
                        <i class="fa fa-clipboard"></i> Copy to clipboard
                    </button>
                    <button class="red-ui-button" @onclick="DownloadExport">
                        <i class="fa fa-download"></i> Download
                    </button>
                </div>
            </div>
        </div>
    }

    <!-- Search Dialog -->
    @if (IsSearchDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseSearchDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Search flows</span>
                    <a class="red-ui-dialog-close" @onclick="CloseSearchDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <div class="form-row">
                        <input type="text" @bind="SearchQuery" @bind:event="oninput" @onkeyup="@(e => { if (e.Key == "Enter") PerformSearch(); })" placeholder="Search nodes, flows..." style="width: 100%; padding: 8px;" />
                        <button class="red-ui-button red-ui-button-primary" @onclick="PerformSearch" style="margin-top: 10px;">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                    <div style="margin-top: 15px; max-height: 400px; overflow-y: auto;">
                        @if (SearchResults.Count == 0 && !string.IsNullOrWhiteSpace(SearchQuery))
                        {
                            <p style="color: #999;">No results found</p>
                        }
                        else if (SearchResults.Count > 0)
                        {
                            @foreach (var result in SearchResults)
                            {
                                <div class="red-ui-search-result" @onclick="() => SelectSearchResult(result)" style="padding: 10px; border-bottom: 1px solid #ddd; cursor: pointer;">
                                    <div style="font-weight: bold;">@result.Label</div>
                                    <div style="font-size: 0.9em; color: #666;">@result.Type: @result.Description</div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseSearchDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Flow Properties Dialog -->
    @if (IsFlowPropertiesDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseFlowPropertiesDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Edit flow properties</span>
                    <a class="red-ui-dialog-close" @onclick="CloseFlowPropertiesDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <div class="form-row">
                        <label>Name</label>
                        <input type="text" @bind="FlowPropertiesLabel" placeholder="Flow name" style="width: 100%; padding: 8px;" />
                    </div>
                    <div class="form-row" style="margin-top: 15px;">
                        <label>Info</label>
                        <textarea @bind="FlowPropertiesInfo" placeholder="Description" rows="5" style="width: 100%; padding: 8px;"></textarea>
                    </div>
                    <div class="form-row" style="margin-top: 15px;">
                        <label>
                            <input type="checkbox" @bind="FlowPropertiesEnabled" />
                            Enabled
                        </label>
                    </div>
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseFlowPropertiesDialog">Cancel</button>
                    <button class="red-ui-button red-ui-button-primary" @onclick="SaveFlowProperties">Done</button>
                </div>
            </div>
        </div>
    }

    <!-- Configuration Nodes Dialog -->
    @if (IsConfigNodesDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseConfigNodesDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Configuration nodes</span>
                    <a class="red-ui-dialog-close" @onclick="CloseConfigNodesDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <p style="color: #666; margin-bottom: 15px;">Configuration nodes allow you to share configuration between nodes.</p>
                    @if (ConfigNodes.Count == 0)
                    {
                        <p style="color: #999;">No configuration nodes defined</p>
                    }
                    else
                    {
                        @foreach (var config in ConfigNodes)
                        {
                            <div style="padding: 10px; border-bottom: 1px solid #ddd;">
                                <div style="font-weight: bold;">@config.Label</div>
                                <div style="font-size: 0.9em; color: #666;">@config.Type</div>
                            </div>
                        }
                    }
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseConfigNodesDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Flows Management Dialog -->
    @if (IsFlowsDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseFlowsDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Manage flows</span>
                    <a class="red-ui-dialog-close" @onclick="CloseFlowsDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <div style="margin-bottom: 15px;">
                        <button class="red-ui-button red-ui-button-primary" @onclick="AddFlowFromDialog">
                            <i class="fa fa-plus"></i> Add Flow
                        </button>
                    </div>
                    @foreach (var flow in Flows)
                    {
                        <div style="padding: 10px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center;">
                            <div>
                                <div style="font-weight: bold;">@flow.Label</div>
                                <div style="font-size: 0.9em; color: #666;">ID: @flow.Id</div>
                            </div>
                            <div>
                                <button class="red-ui-button" @onclick="() => EditFlowFromDialog(flow.Id)" style="margin-right: 5px;">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="red-ui-button" @onclick="() => DeleteFlowFromDialog(flow.Id)" disabled="@(Flows.Count <= 1)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseFlowsDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Subflows Dialog -->
    @if (IsSubflowsDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseSubflowsDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Subflows</span>
                    <a class="red-ui-dialog-close" @onclick="CloseSubflowsDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <p style="color: #666; margin-bottom: 15px;">Subflows are reusable flows that can be used as nodes in other flows.</p>
                    <div style="margin-bottom: 15px;">
                        <button class="red-ui-button red-ui-button-primary" @onclick="CreateSubflow" style="margin-right: 10px;">
                            <i class="fa fa-plus"></i> Create Subflow
                        </button>
                        <button class="red-ui-button" @onclick="CreateSubflowFromSelection">
                            <i class="fa fa-cut"></i> Selection to Subflow
                        </button>
                    </div>
                    @if (Subflows.Count == 0)
                    {
                        <p style="color: #999;">No subflows defined. Create a subflow to build reusable node configurations.</p>
                    }
                    else
                    {
                        <h4 style="margin-top: 20px; margin-bottom: 10px;">Available Subflows</h4>
                        @foreach (var subflow in Subflows)
                        {
                            <div style="padding: 10px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center;">
                                <div>
                                    <div style="font-weight: bold;">
                                        <span style="display: inline-block; width: 12px; height: 12px; background: @subflow.Color; margin-right: 8px; border-radius: 2px;"></span>
                                        @subflow.Name
                                    </div>
                                    <div style="font-size: 0.9em; color: #666;">Inputs: @subflow.Inputs, Outputs: @subflow.Outputs</div>
                                    @if (!string.IsNullOrEmpty(subflow.Description))
                                    {
                                        <div style="font-size: 0.85em; color: #888;">@subflow.Description</div>
                                    }
                                </div>
                                <div>
                                    <button class="red-ui-button" @onclick="() => EditSubflow(subflow.Id)" style="margin-right: 5px;" title="Edit subflow">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="red-ui-button" @onclick="() => DeleteSubflow(subflow.Id)" title="Delete subflow">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseSubflowsDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Groups Dialog -->
    @if (IsGroupsDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseGroupsDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Groups</span>
                    <a class="red-ui-dialog-close" @onclick="CloseGroupsDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <p style="color: #666; margin-bottom: 15px;">Groups allow you to visually organize nodes together.</p>
                    <div style="margin-bottom: 15px;">
                        <button class="red-ui-button red-ui-button-primary" @onclick="GroupSelectedNodes" style="margin-right: 10px;">
                            <i class="fa fa-object-group"></i> Group Selected
                        </button>
                        <button class="red-ui-button" @onclick="UngroupSelectedNodes">
                            <i class="fa fa-object-ungroup"></i> Ungroup Last
                        </button>
                    </div>
                    @if (Groups.Count == 0)
                    {
                        <p style="color: #999;">No groups defined. Select nodes in the workspace and click "Group Selected" to create a group.</p>
                    }
                    else
                    {
                        <h4 style="margin-top: 20px;">Existing Groups</h4>
                        @foreach (var group in Groups)
                        {
                            <div style="padding: 10px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center;">
                                <div>
                                    <div style="font-weight: bold;">@group.Name</div>
                                    <div style="font-size: 0.9em; color: #666;">Nodes: @group.NodeCount</div>
                                </div>
                                <div>
                                    <button class="red-ui-button" @onclick="() => EditGroup(group.Id)" style="margin-right: 5px;">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="red-ui-button" @onclick="() => DeleteGroup(group.Id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseGroupsDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Palette Management Dialog -->
    @if (IsPaletteDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="ClosePaletteDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Manage palette</span>
                    <a class="red-ui-dialog-close" @onclick="ClosePaletteDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <div class="form-row" style="margin-bottom: 15px;">
                        <input type="text" @bind="PaletteSearchQuery" @bind:event="oninput" placeholder="Search modules..." style="width: 100%; padding: 8px;" />
                    </div>
                    <h4>Installed Modules</h4>
                    @if (AvailableModules.Count == 0)
                    {
                        <p style="color: #999;">No modules installed</p>
                    }
                    else
                    {
                        @foreach (var module in AvailableModules.Where(m => m.IsInstalled))
                        {
                            <div style="padding: 10px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center;">
                                <div>
                                    <div style="font-weight: bold;">@module.Name</div>
                                    <div style="font-size: 0.9em; color: #666;">Version: @module.Version (@module.NodeCount nodes)</div>
                                </div>
                                <button class="red-ui-button" @onclick="() => UninstallPaletteModule(module.Name)">
                                    <i class="fa fa-trash"></i> Remove
                                </button>
                            </div>
                        }
                    }
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="ClosePaletteDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Settings Dialog -->
    @if (IsSettingsDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseSettingsDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>User Settings</span>
                    <a class="red-ui-dialog-close" @onclick="CloseSettingsDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <h4>View</h4>
                    <div class="form-row">
                        <label>
                            <input type="checkbox" @bind="SettingsShowGrid" />
                            Show grid
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <input type="checkbox" @bind="SettingsSnapToGrid" />
                            Snap to grid
                        </label>
                    </div>
                    <div class="form-row">
                        <label>Grid size</label>
                        <input type="number" @bind="SettingsGridSize" min="5" max="50" style="width: 100px; padding: 8px;" />
                    </div>
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseSettingsDialog">Cancel</button>
                    <button class="red-ui-button red-ui-button-primary" @onclick="SaveSettings">Save</button>
                </div>
            </div>
        </div>
    }

    <!-- Keyboard Shortcuts Dialog -->
    @if (IsKeyboardShortcutsDialogOpen)
    {
        <div class="red-ui-dialog-overlay" @onclick="CloseKeyboardShortcutsDialog">
            <div class="red-ui-dialog" @onclick:stopPropagation="true">
                <div class="red-ui-dialog-header">
                    <span>Keyboard Shortcuts</span>
                    <a class="red-ui-dialog-close" @onclick="CloseKeyboardShortcutsDialog"><i class="fa fa-times"></i></a>
                </div>
                <div class="red-ui-dialog-body">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="text-align: left; padding: 8px; border-bottom: 2px solid #ddd;">Shortcut</th>
                                <th style="text-align: left; padding: 8px; border-bottom: 2px solid #ddd;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var shortcut in KeyboardShortcuts)
                            {
                                <tr>
                                    <td style="padding: 8px; border-bottom: 1px solid #eee;"><kbd>@shortcut.Key</kbd></td>
                                    <td style="padding: 8px; border-bottom: 1px solid #eee;">@shortcut.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="red-ui-dialog-footer">
                    <button class="red-ui-button" @onclick="CloseKeyboardShortcutsDialog">Close</button>
                </div>
            </div>
        </div>
    }

    <!-- Main Container with Syncfusion Splitter for collapsible palette/sidebar -->
    <div id="red-ui-main-container">
        <SfSplitter Height="100%" Width="100%" Orientation="Syncfusion.Blazor.Layouts.Orientation.Horizontal" CssClass="red-ui-main-splitter">
            <SplitterPanes>
                <!-- Palette Pane (collapsible) -->
                <SplitterPane Size="180px" Min="100px" Max="300px" Collapsible="true" CssClass="red-ui-palette-pane">
                    <ContentTemplate>
                        <div id="red-ui-palette">
                            <div class="red-ui-palette-search">
                                <input type="text" placeholder="filter nodes" @bind="PaletteFilter" @bind:event="oninput" />
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="red-ui-palette-scroll">
                                @foreach (var category in PaletteCategories.Where(c => FilterCategory(c)))
                                {
                                    <div class="red-ui-palette-category">
                                        <div class="red-ui-palette-header" @onclick="() => ToggleCategory(category.Name)">
                                            <i class="fa fa-angle-down @(category.IsExpanded ? "expanded" : "")"></i>
                                            <span>@category.Name</span>
                                        </div>
                                        @if (category.IsExpanded)
                                        {
                                            <div class="red-ui-palette-content">
                                                @foreach (var node in category.Nodes.Where(n => FilterNode(n)))
                                                {
                                                    <div class="red-ui-palette-node" 
                                                         style="background-color: @node.Color;"
                                                         draggable="true"
                                                         @ondragstart="() => OnPaletteDragStart(node)"
                                                         @ondragend="OnPaletteDragEnd">
                                                        @if (node.Inputs > 0)
                                                        {
                                                            <div class="red-ui-palette-port red-ui-palette-port-input"></div>
                                                        }
                                                        <div class="red-ui-palette-icon-container" style="background-color: @node.IconBackground;">
                                                            <i class="@node.IconClass red-ui-palette-icon-fa"></i>
                                                        </div>
                                                        <div class="red-ui-palette-label">@node.Label</div>
                                                        @if (node.Outputs > 0)
                                                        {
                                                            <div class="red-ui-palette-port red-ui-palette-port-output"></div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </ContentTemplate>
                </SplitterPane>

                <!-- Workspace Pane (main content, flexible) -->
                <SplitterPane CssClass="red-ui-workspace-pane">
                    <ContentTemplate>
                        <div id="red-ui-workspace">
                            <ul id="red-ui-workspace-tabs">
                                @foreach (var flow in Flows)
                                {
                                    <li class="red-ui-tab @(CurrentFlowId == flow.Id ? "active" : "") @(flow.Disabled ? "red-ui-workspace-disabled" : "")"
                                        @onclick="() => SwitchFlow(flow.Id)"
                                        @ondblclick="() => EditFlowProperties(flow.Id)">
                                        <a href="javascript:void(0)">
                                            @if (flow.Disabled)
                                            {
                                                <i class="fa fa-ban red-ui-workspace-disabled-icon"></i>
                                            }
                                            <span>@flow.Label</span>
                                            @if (Flows.Count > 1)
                                            {
                                                <span class="red-ui-tab-close" @onclick:stopPropagation="true" @onclick="() => DeleteFlow(flow.Id)">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            }
                                        </a>
                                    </li>
                                }
                                <li class="red-ui-tab-button" @onclick="AddNewFlow">
                                    <a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>

                            <div id="red-ui-workspace-chart" 
                                 @ondrop="OnWorkspaceDrop" 
                                 @ondragover="OnWorkspaceDragOver"
                                 @ondragover:preventDefault="true">
                                <SfDiagramComponent @ref="@DiagramInstance"
                                                    Connectors="@DiagramConnectors"
                                                    Created="OnCreated"
                                                    SelectionChanged="@OnSelectionChanged"
                                                    ConnectionChanging="@OnConnectionChanging"
                                                    Click="@OnDiagramClick"
                                                    FixedUserHandleClick="@OnFixedUserHandleClick"
                                                    PositionChanged="@OnPositionChanged"
                                                    Height="100%"
                                                    Width="100%"
                                                    Nodes="@DiagramNodes"
                                                    NodeCreating="OnNodeCreating"
                                                    ConnectorCreating="OnConnectorCreating"
                                                    SelectionSettings="@SelectionSettings">
                                    <SnapSettings Constraints="SnapConstraints.ShowLines">
                                        <HorizontalGridLines LineColor="#eee" LineIntervals="@GridLineIntervals"></HorizontalGridLines>
                                        <VerticalGridLines LineColor="#eee" LineIntervals="@GridLineIntervals"></VerticalGridLines>
                                    </SnapSettings>
                                    <PageSettings>
                                        <BackgroundStyle Background="#fff" />
                                    </PageSettings>
                                </SfDiagramComponent>
                            </div>

                            <div id="red-ui-workspace-footer">
                                <span class="red-ui-footer-left">
                                    <i class="fa @(FlowRuntime.State == FlowState.Running ? "fa-circle status-running" : "fa-circle-o status-stopped")"></i>
                                    <span class="flow-state-text">@(FlowRuntime.State == FlowState.Running ? "Running" : (HasBeenDeployed ? "Stopped" : "Not deployed"))</span>
                                </span>
                                <span class="red-ui-footer-right">
                                    <a href="javascript:void(0)" @onclick="ZoomIn"><i class="fa fa-plus"></i></a>
                                    <a href="javascript:void(0)" @onclick="ZoomOut"><i class="fa fa-minus"></i></a>
                                    <a href="javascript:void(0)" @onclick="ZoomReset"><i class="fa fa-circle-o-notch"></i></a>
                                </span>
                            </div>
                        </div>
                    </ContentTemplate>
                </SplitterPane>

                <!-- Property Editor Tray Pane (appears when double-clicking a node) -->
                @if (IsPropertyTrayOpen && SelectedDiagramNode != null)
                {
                    <SplitterPane Size="450px" Min="350px" Max="700px" CssClass="red-ui-tray-pane">
                        <ContentTemplate>
                            <div class="red-ui-tray-inline">
                                @* Tray header *@
                                <div class="red-ui-tray-header editor-tray-header">
                                    @* Titlebar with breadcrumbs *@
                                    <div class="red-ui-tray-titlebar">
                                        <ul class="red-ui-tray-breadcrumbs">
                                            <li><i class="fa fa-cube"></i> Edit @GetSelectedNodeType() node</li>
                                        </ul>
                                    </div>
                                    @* Toolbar with buttons *@
                                    <div class="red-ui-tray-toolbar">
                                        <button class="red-ui-button red-ui-tray-toolbar-left" @onclick="DeleteSelectionAndCloseTray" title="Delete node">
                                            <i class="fa fa-trash"></i> Delete
                                        </button>
                                        <span class="red-ui-tray-toolbar-spacer"></span>
                                        <button class="red-ui-button" @onclick="ClosePropertyTray">Cancel</button>
                                        <button class="red-ui-button primary" @onclick="SaveAndClosePropertyTray">Done</button>
                                    </div>
                                </div>
                                
                                @* Tray tabs - Properties, Description, Appearance *@
                                <div class="red-ui-tray-tabs">
                                    <ul class="red-ui-tray-tab-list">
                                        <li class="@(_activeTrayTab == "properties" ? "active" : "")" @onclick='() => _activeTrayTab = "properties"'>
                                            <a href="javascript:void(0)"><i class="fa fa-cog"></i> Properties</a>
                                        </li>
                                        <li class="@(_activeTrayTab == "description" ? "active" : "")" @onclick='() => _activeTrayTab = "description"'>
                                            <a href="javascript:void(0)"><i class="fa fa-file-text-o"></i> Description</a>
                                        </li>
                                        <li class="@(_activeTrayTab == "appearance" ? "active" : "")" @onclick='() => _activeTrayTab = "appearance"'>
                                            <a href="javascript:void(0)"><i class="fa fa-object-group"></i> Appearance</a>
                                        </li>
                                    </ul>
                                </div>
                                
                                @* Tray body *@
                                <div class="red-ui-tray-body-wrapper">
                                    <div class="red-ui-tray-body editor-tray-body">
                                        @if (_activeTrayTab == "properties")
                                        {
                                            <div class="red-ui-tray-content">
                                                @RenderNodePropertyPanel()
                                            </div>
                                        }
                                        else if (_activeTrayTab == "description")
                                        {
                                            <div class="red-ui-tray-content">
                                                @RenderNodeDescriptionPanel()
                                            </div>
                                        }
                                        else if (_activeTrayTab == "appearance")
                                        {
                                            <div class="red-ui-tray-content">
                                                @RenderNodeAppearancePanel()
                                            </div>
                                        }
                                    </div>
                                </div>
                                
                                @* Tray footer *@
                                <div class="red-ui-tray-footer">
                                    <span class="red-ui-tray-footer-left">
                                        <span class="red-ui-tray-footer-node-id">@(SelectedDiagramNode?.ID ?? "")</span>
                                    </span>
                                </div>
                            </div>
                        </ContentTemplate>
                    </SplitterPane>
                }

                <!-- Sidebar Pane (collapsible) -->
                <SplitterPane Size="315px" Min="200px" Max="500px" Collapsible="true" CssClass="red-ui-sidebar-pane">
                    <ContentTemplate>
                        <RedUiSidebar Tabs="@_sidebarTabs"
                                      ActiveTabId="@_activeSidebarTabId"
                                      ActiveTabIdChanged="@((string id) => { _activeSidebarTabId = id; })"
                                      ShowShade="@IsPropertyTrayOpen">
                            <ContentTemplate Context="tabId">
                                @if (tabId == "info")
                                {
                                    <RedUiSidebarInfo 
                                        SelectedNode="@SelectedDiagramNode"
                                        NodeId="@(SelectedDiagramNode?.ID ?? "")"
                                        NodeType="@GetSelectedNodeType()"
                                        NodeName="@SelectedNodeName"
                                        NodeColor="@GetSelectedNodeColor()"
                                        NodeDescription="@GetNodeHelp(GetSelectedNodeType())?.Summary"
                                        StatusText="@GetNodeStatus(SelectedDiagramNode?.ID ?? "")?.Text"
                                        StatusColor="@GetSidebarStatusColor()"
                                        SelectedNodeId="@(SelectedDiagramNode?.ID)"
                                        SelectedFlowId="@CurrentFlowId"
                                        Flows="@GetFlowsForOutliner()"
                                        GlobalConfigNodes="@GetGlobalConfigNodesForOutliner()"
                                        GetFlowNodesFunc="@GetFlowNodesForOutliner"
                                        OnNodeSelected="@SelectNodeById"
                                        OnFlowSelected="@SelectFlowById"
                                        OnHelpClick="@(() => { _activeSidebarTabId = "help"; StateHasChanged(); })"
                                        OnRevealClick="@RevealSelectedNode"
                                        OnCopyLinkClick="@CopyNodeLink" />
                                }
                                else if (tabId == "help")
                                {
                                    <RedUiSidebarHelp 
                                        SelectedNodeType="@GetNodeTypeForHelp()"
                                        HelpSummary="@GetNodeHelp(GetNodeTypeForHelp())?.Summary"
                                        HelpDetails="@GetNodeHelp(GetNodeTypeForHelp())?.Details"
                                        HelpInputs="@GetHelpInputsForHelp()"
                                        HelpOutputs="@GetHelpOutputsForHelp()"
                                        HelpReferences="@GetHelpReferencesForHelp()"
                                        Categories="@GetHelpCategories()"
                                        OnNodeTypeSelected="@((string type) => SelectNodeTypeForHelp(type))" />
                                }
                                else if (tabId == "config")
                                {
                                    <RedUiSidebarConfig 
                                        ConfigNodes="@GetConfigNodes()"
                                        CurrentFlowName="@GetCurrentFlowName()"
                                        CurrentFlowId="@CurrentFlowId"
                                        OnConfigSelected="@((string id) => SelectConfigNode(id))" />
                                }
                                else if (tabId == "context")
                                {
                                    <RedUiSidebarContext 
                                        SelectedNodeId="@(SelectedDiagramNode?.ID)"
                                        CurrentFlowId="@CurrentFlowId"
                                        CurrentFlowName="@GetCurrentFlowName()"
                                        NodeContextData="@GetNodeContextData()"
                                        FlowContextData="@GetFlowContextData()"
                                        GlobalContextData="@GetGlobalContextData()"
                                        OnRefreshNodeContext="@RefreshNodeContext"
                                        OnRefreshFlowContext="@RefreshFlowContext"
                                        OnRefreshGlobalContext="@RefreshGlobalContext" />
                                }
                                else if (tabId == "debug")
                                {
                                    <RedUiSidebarDebug 
                                        Messages="@GetDebugMessagesForSidebar()"
                                        OnMessageClick="@((string nodeId) => HighlightDebugNode(nodeId))"
                                        OnClearMessages="@ClearDebugMessages" />
                                }
                            </ContentTemplate>
                        </RedUiSidebar>
                    </ContentTemplate>
                </SplitterPane>
            </SplitterPanes>
        </SfSplitter>
    </div>
</div>

@* Render node property panel based on node type - using dynamic schema *@
@code {
    // Dynamic property values storage
    private Dictionary<string, object?> _nodePropertyValues = new();
    
    private RenderFragment RenderNodePropertyPanel() => __builder =>
    {
        var nodeType = GetSelectedNodeType();
        var schema = GetNodeSchema(nodeType);
        
        <div class="red-ui-editor-form">
            @* Common name field *@
            <div class="form-row">
                <label><i class="fa fa-tag"></i> Name</label>
                <input type="text" @bind="SelectedNodeName" placeholder="Name" />
            </div>

            @if (schema.Count > 0)
            {
                @foreach (var field in schema)
                {
                    @if (ShouldShowField(field))
                    {
                        @RenderPropertyField(field)
                    }
                }
            }
            else
            {
                <div class="form-row">
                    <p class="form-info">This node type doesn't have configurable properties.</p>
                </div>
            }
        </div>
    };

    /// <summary>
    /// Gets the property schema for a node type.
    /// SDK-defined properties from NodeLoader take precedence over hard-coded schemas.
    /// </summary>
    private List<NodePropertyField> GetNodeSchema(string nodeType)
    {
        // Get properties from the NodeLoader (SDK nodes define properties via DefineProperties())
        var nodeDef = NodeLoader.GetNodeDefinitions().FirstOrDefault(d => d.Type == nodeType);
        if (nodeDef?.Properties != null && nodeDef.Properties.Count > 0)
        {
            return nodeDef.Properties.Select(NodePropertyField.FromDefinition).ToList();
        }

        return new List<NodePropertyField>();
    }
    
    private bool ShouldShowField(NodePropertyField field)
    {
        // Skip "name" field as it's shown separately
        if (field.Name == "name")
            return false;

        // Check ShowWhen condition
        if (!string.IsNullOrEmpty(field.ShowWhen))
        {
            var parts = field.ShowWhen.Split('=');
            if (parts.Length == 2)
            {
                var currentValue = GetPropertyValue(parts[0])?.ToString() ?? "";
                if (currentValue != parts[1]) return false;
            }
        }
        
        // Check HideWhen condition
        if (!string.IsNullOrEmpty(field.HideWhen))
        {
            var parts = field.HideWhen.Split('=');
            if (parts.Length == 2)
            {
                var currentValue = GetPropertyValue(parts[0])?.ToString() ?? "";
                if (currentValue == parts[1]) return false;
            }
        }
        
        return true;
    }
    
    private object? GetPropertyValue(string name)
    {
        if (_nodePropertyValues.TryGetValue(name, out var value))
            return value;
        return null;
    }
    
    private void SetPropertyValue(string name, object? value)
    {
        _nodePropertyValues[name] = value;
        StateHasChanged();
    }
    
    private RenderFragment RenderPropertyField(NodePropertyField field) => __builder =>
    {
        var cssClass = field.IsFullWidth ? "form-row form-row-full" : "form-row";
        
        <div class="@cssClass">
            @if (!string.IsNullOrEmpty(field.Label))
            {
                <label>
                    @if (!string.IsNullOrEmpty(field.Icon))
                    {
                        <i class="@field.Icon"></i>
                    }
                    @field.Label
                </label>
            }
            else
            {
                <label></label>
            }
            
            @if (!string.IsNullOrEmpty(field.Prefix))
            {
                <span>@field.Prefix</span>
            }
            
            @switch (field.Type)
            {
                case PropertyFieldType.Text:
                    var textValue = GetPropertyValue(field.Name)?.ToString() ?? field.DefaultValue;
                    <input type="text" 
                           value="@textValue"
                           placeholder="@field.Placeholder"
                           class="@(field.IsSmall ? "input-small" : "")"
                           @onchange="@(e => SetPropertyValue(field.Name, e.Value))" />
                    break;
                    
                case PropertyFieldType.Number:
                    var numValue = GetPropertyValue(field.Name)?.ToString() ?? field.DefaultValue;
                    <input type="number" 
                           value="@numValue"
                           min="@field.Min"
                           max="@field.Max"
                           step="@(field.Step ?? 1)"
                           class="@(field.IsSmall ? "input-small" : "")"
                           @onchange="@(e => SetPropertyValue(field.Name, e.Value))" />
                    break;
                    
                case PropertyFieldType.Select:
                    var selectValue = GetPropertyValue(field.Name)?.ToString() ?? field.DefaultValue;
                    <select value="@selectValue"
                            @onchange="@(e => SetPropertyValue(field.Name, e.Value))">
                        @if (field.Options != null)
                        {
                            @foreach (var opt in field.Options)
                            {
                                <option value="@opt.Value">@opt.Label</option>
                            }
                        }
                    </select>
                    break;
                    
                case PropertyFieldType.Checkbox:
                    var checkValue = GetPropertyValue(field.Name)?.ToString() == "true" || 
                                    (GetPropertyValue(field.Name) == null && field.DefaultValue == "true");
                    <label class="checkbox-label">
                        <input type="checkbox" 
                               checked="@checkValue"
                               @onchange="@(e => SetPropertyValue(field.Name, e.Value))" />
                        @if (!string.IsNullOrEmpty(field.Suffix))
                        {
                            @field.Suffix
                        }
                    </label>
                    break;
                    
                case PropertyFieldType.TextArea:
                    var textAreaValue = GetPropertyValue(field.Name)?.ToString() ?? field.DefaultValue;
                    <textarea rows="@(field.Rows ?? 5)"
                              placeholder="@field.Placeholder"
                              @onchange="@(e => SetPropertyValue(field.Name, e.Value))">@textAreaValue</textarea>
                    break;
                    
                case PropertyFieldType.Code:
                    var codeValue = GetPropertyValue(field.Name)?.ToString() ?? field.DefaultValue;
                    <textarea rows="@(field.Rows ?? 10)"
                              class="code-editor"
                              @onchange="@(e => SetPropertyValue(field.Name, e.Value))">@codeValue</textarea>
                    break;
                    
                case PropertyFieldType.Info:
                    <p class="form-info">@field.DefaultValue</p>
                    break;
            }
            
            @if (!string.IsNullOrEmpty(field.Suffix) && field.Type != PropertyFieldType.Checkbox)
            {
                <span>@field.Suffix</span>
            }
        </div>
    };

    /// <summary>
    /// Render the Description tab panel - markdown editor for node info
    /// </summary>
    private RenderFragment RenderNodeDescriptionPanel() => __builder =>
    {
        <div class="red-ui-editor-form">
            <div class="form-row form-row-full">
                <label><i class="fa fa-file-text-o"></i> Node Description</label>
                <p class="form-tips" style="margin-bottom: 10px;">
                    Add a description for this node. This will be shown in the Info sidebar.
                </p>
                <textarea rows="12" 
                          @bind="_selectedNodeDescription" 
                          placeholder="Enter a description for this node (supports Markdown)"
                          style="width: 100%; font-family: monospace; font-size: 12px;"></textarea>
            </div>
        </div>
    };

    /// <summary>
    /// Render the Appearance tab panel - icon, label, color settings
    /// </summary>
    private RenderFragment RenderNodeAppearancePanel() => __builder =>
    {
        var nodeType = GetSelectedNodeType();
        var nodeColor = GetSelectedNodeColor();
        
        <div class="red-ui-editor-form">
            @* Show Label toggle *@
            <div class="form-row">
                <label><i class="fa fa-tag"></i> Label</label>
                <label class="checkbox-label">
                    <input type="checkbox" @bind="_selectedNodeShowLabel" />
                    Show label on node
                </label>
            </div>

            @* Node Icon *@
            <div class="form-row">
                <label><i class="fa fa-image"></i> Icon</label>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div class="red-ui-node-icon-preview" style="width: 40px; height: 30px; background-color: @nodeColor; border: 1px solid #999; border-radius: 4px; display: flex; align-items: center; justify-content: center;">
                        <i class="fa fa-cube" style="color: rgba(0,0,0,0.5);"></i>
                    </div>
                    <span style="color: #888; font-size: 12px;">Default icon for @nodeType</span>
                </div>
            </div>

            @* Port Labels section *@
            <div class="form-row">
                <label style="font-weight: bold; margin-top: 15px;">Port Labels</label>
            </div>

            @* Input Labels *@
            <div class="form-row">
                <label style="margin-left: 20px;"><i class="fa fa-arrow-right"></i> Inputs</label>
                <div style="flex: 1;">
                    <div class="red-ui-editor-node-label-row" style="display: flex; align-items: center; gap: 5px;">
                        <span style="width: 20px; text-align: right;">1.</span>
                        <input type="text" placeholder="Input label" style="flex: 1;" />
                    </div>
                </div>
            </div>

            @* Output Labels *@
            <div class="form-row">
                <label style="margin-left: 20px;"><i class="fa fa-arrow-left"></i> Outputs</label>
                <div style="flex: 1;">
                    <div class="red-ui-editor-node-label-row" style="display: flex; align-items: center; gap: 5px;">
                        <span style="width: 20px; text-align: right;">1.</span>
                        <input type="text" placeholder="Output label" style="flex: 1;" />
                    </div>
                </div>
            </div>
        </div>
    };
}

@* Context Menus *@
@if (IsNodeContextMenuOpen)
{
    <div class="red-ui-context-menu-overlay" @onclick="CloseContextMenus"></div>
    <div class="red-ui-context-menu" style="left: @(ContextMenuX)px; top: @(ContextMenuY)px;">
        <div class="red-ui-context-menu-item" @onclick="ContextMenuEditNode">
            <i class="fa fa-edit"></i> Edit
        </div>
        <div class="red-ui-context-menu-item" @onclick="ContextMenuCopyNode">
            <i class="fa fa-copy"></i> Copy
        </div>
        <div class="red-ui-context-menu-item" @onclick="ContextMenuCutNode">
            <i class="fa fa-cut"></i> Cut
        </div>
        <div class="red-ui-context-menu-divider"></div>
        <div class="red-ui-context-menu-item red-ui-context-menu-item-danger" @onclick="ContextMenuDeleteNode">
            <i class="fa fa-trash"></i> Delete
        </div>
    </div>
}

@if (IsCanvasContextMenuOpen)
{
    <div class="red-ui-context-menu-overlay" @onclick="CloseContextMenus"></div>
    <div class="red-ui-context-menu" style="left: @(ContextMenuX)px; top: @(ContextMenuY)px;">
        @if (!string.IsNullOrEmpty(_nodeClipboard))
        {
            <div class="red-ui-context-menu-item" @onclick="ContextMenuPaste">
                <i class="fa fa-paste"></i> Paste
            </div>
            <div class="red-ui-context-menu-divider"></div>
        }
        <div class="red-ui-context-menu-label">Add node</div>
        <div class="red-ui-context-menu-item" @onclick="ContextMenuAddInject">
            <i class="fa fa-play"></i> inject
        </div>
        <div class="red-ui-context-menu-item" @onclick="ContextMenuAddDebug">
            <i class="fa fa-bug"></i> debug
        </div>
        <div class="red-ui-context-menu-item" @onclick="ContextMenuAddFunction">
            <i class="fa fa-code"></i> function
        </div>
        <div class="red-ui-context-menu-item" @onclick="ContextMenuAddChange">
            <i class="fa fa-random"></i> change
        </div>
    </div>
}

<style>
    /* ========================================
       Node-RED Editor - Exact Replica CSS
       ======================================== */

    * {
        box-sizing: border-box;
    }

    .red-ui-editor {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #555;
        overflow: hidden;
    }

    /* ========== HEADER ========== */
    #red-ui-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background: #000;
        border-bottom: 2px solid #C02020;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 100;
    }

    .red-ui-header-logo a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #C7C7C7;
    }

    .red-ui-header-logo img {
        height: 32px;
        margin-right: 8px;
    }

    .red-ui-header-logo span {
        font-size: 16px;
    }

    .red-ui-header-toolbar {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        align-items: center;
    }

    .red-ui-header-toolbar > li {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .red-ui-deploy-button-group {
        display: flex;
        height: 100%;
        margin-right: 10px;
    }

    .red-ui-deploy-button {
        display: flex;
        align-items: center;
        background: #8C101C;
        color: #eee;
        padding: 0 12px;
        text-decoration: none;
        cursor: pointer;
        height: 100%;
    }

    .red-ui-deploy-button:hover {
        background: #6E0A1E;
    }

    .red-ui-deploy-button i {
        margin-right: 6px;
    }

    .red-ui-deploy-button-options {
        border-left: 1px solid #6E0A1E;
        padding: 0 8px;
    }

    .red-ui-header-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #eee;
        padding: 0 15px;
        height: 100%;
        text-decoration: none;
        font-size: 18px;
    }

    .red-ui-header-button:hover {
        background: #121212;
    }

    /* ========== MAIN CONTAINER ========== */
    #red-ui-main-container {
        position: absolute;
        top: 42px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /* Syncfusion Splitter styling for main layout */
    ::deep .red-ui-main-splitter {
        height: 100% !important;
    }

    ::deep .red-ui-main-splitter .e-split-bar {
        background: #f3f3f3;
        border-color: #bbb;
    }

    ::deep .red-ui-main-splitter .e-split-bar .e-resize-handler {
        background: #999;
    }

    ::deep .red-ui-main-splitter .e-split-bar:hover {
        background: #e8e8e8;
    }

    ::deep .red-ui-main-splitter .e-split-bar .e-navigate-arrow {
        color: #666;
    }

    ::deep .red-ui-main-splitter .e-split-bar .e-navigate-arrow:hover {
        color: #333;
    }

    /* Pane styling */
    ::deep .red-ui-palette-pane {
        background: #f3f3f3;
    }

    ::deep .red-ui-workspace-pane {
        background: #fff;
        position: relative;
    }

    ::deep .red-ui-sidebar-pane {
        background: #fff;
    }

    /* ========== PALETTE ========== */
    #red-ui-palette {
        width: 100%;
        height: 100%;
        background: #f3f3f3;
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    .red-ui-palette-search {
        position: relative;
        background: #fff;
        height: 35px;
        padding: 3px;
        border-bottom: 1px solid #bbb;
    }

    .red-ui-palette-search input {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 25px 5px 8px;
        font-size: 12px;
    }

    .red-ui-palette-search i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
    }

    .red-ui-palette-scroll {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .red-ui-palette-category {
        border-bottom: 1px solid #ddd;
    }

    .red-ui-palette-header {
        position: relative;
        background: #f3f3f3;
        color: #444;
        cursor: pointer;
        text-align: left;
        padding: 9px 9px 9px 30px;
        font-weight: bold;
        font-size: 12px;
    }

    .red-ui-palette-header:hover {
        background: #eee;
    }

    .red-ui-palette-header > i {
        position: absolute;
        left: 11px;
        top: 12px;
        transition: transform 0.2s ease-in-out;
        transform: rotate(-90deg);
        font-size: 12px;
    }

    .red-ui-palette-header > i.expanded {
        transform: rotate(0deg);
    }

    .red-ui-palette-content {
        background: #fff;
        padding: 3px;
    }

    .red-ui-palette-node {
        cursor: move;
        margin: 10px auto;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #999;
        width: 122px;
        position: relative;
        display: flex;
        align-items: center;
    }

    .red-ui-palette-node:first-child {
        margin-top: 15px;
    }

    .red-ui-palette-node:last-child {
        margin-bottom: 15px;
    }

    .red-ui-palette-node:hover {
        border-color: transparent;
        box-shadow: 0 0 0 2px #ff7f0e;
    }

    .red-ui-palette-port {
        position: absolute;
        top: 7px;
        box-sizing: border-box;
        background: #d9d9d9;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        border: 1px solid #999;
    }

    .red-ui-palette-port-input {
        left: -5px;
    }

    .red-ui-palette-port-output {
        right: -6px;
    }

    .red-ui-palette-node:hover .red-ui-palette-port {
        background-color: #eee;
    }

    .red-ui-palette-icon-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30px;
        border-right: 1px solid rgba(0,0,0,0.1);
        border-radius: 4px 0 0 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .red-ui-palette-icon-fa {
        color: #fff;
        font-size: 14px;
    }

    .red-ui-palette-label {
        color: #333;
        font-size: 13px;
        margin-left: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 5px;
    }

    /* ========== WORKSPACE ========== */
    #red-ui-workspace {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #f3f3f3;
        min-width: 0;
    }

    #red-ui-workspace-tabs {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #f3f3f3;
        height: 35px;
        align-items: flex-end;
        border-bottom: 1px solid #bbb;
    }

    .red-ui-tab {
        background: #f0f0f0;
        border: 1px solid #bbb;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        margin-left: 5px;
        position: relative;
        top: 1px;
    }

    .red-ui-tab a {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        text-decoration: none;
        color: #666;
        font-size: 12px;
    }

    .red-ui-tab.active {
        background: #fff;
        border-bottom: 1px solid #fff;
    }

    .red-ui-tab.active a {
        color: #444;
    }

    .red-ui-tab:hover:not(.active) {
        background: #e6e6e6;
    }

    .red-ui-tab-close {
        margin-left: 8px;
        opacity: 0.5;
        font-size: 10px;
    }

    .red-ui-tab-close:hover {
        opacity: 1;
    }

    .red-ui-tab-button a {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        color: #888;
        text-decoration: none;
    }

    .red-ui-tab-button a:hover {
        color: #444;
    }

    /* Disabled flow tabs - dashed borders, italic text, disabled icon */
    .red-ui-workspace-disabled {
        border-top-style: dashed;
        border-left-style: dashed;
        border-right-style: dashed;
    }

    .red-ui-workspace-disabled a {
        font-style: italic;
        color: #aaa !important;
    }

    .red-ui-workspace-disabled.active a {
        font-weight: normal;
        color: #999 !important;
    }

    .red-ui-workspace-disabled-icon {
        display: inline;
        margin-right: 5px;
        color: #aaa;
    }

    #red-ui-workspace-chart {
        flex: 1;
        background: #fff;
        position: relative;
    }

    #red-ui-workspace-footer {
        height: 25px;
        background: #f7f7f7;
        border-top: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 12px;
    }

    .status-running {
        color: #5a8;
    }

    .status-stopped {
        color: #999;
    }

    .flow-state-text {
        margin-left: 6px;
        font-size: 11px;
        color: #666;
    }

    .red-ui-footer-left {
        display: flex;
        align-items: center;
    }

    .red-ui-footer-right a {
        color: #888;
        padding: 2px 6px;
        text-decoration: none;
    }

    .red-ui-footer-right a:hover {
        color: #444;
    }

    /* ========== SIDEBAR ========== */
    /* Sidebar styles are now in RedUiSidebar.razor.css */
    /* Only keep the generic tab styles that apply when tabs are used directly */

    #red-ui-sidebar-tabs {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

    #red-ui-sidebar-tabs li {
        flex: 1;
        text-align: center;
    }

    #red-ui-sidebar-tabs li a {
        display: block;
        padding: 10px;
        color: #888;
        text-decoration: none;
    }

    #red-ui-sidebar-tabs li.active a {
        color: #444;
        background: #fff;
        border-bottom: 2px solid #8f0000;
    }

    #red-ui-sidebar-tabs li:hover:not(.active) a {
        color: #444;
        background: #f0f0f0;
    }

    #red-ui-sidebar-content {
        flex: 1;
        overflow-y: auto;
    }

    /* Info Panel */
    .red-ui-sidebar-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .red-ui-tray-header {
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

    .red-ui-tray-titlebar {
        padding: 8px 10px;
    }

    .red-ui-tray-breadcrumbs {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #666;
    }

    .red-ui-tray-breadcrumbs i {
        margin-right: 5px;
        color: #888;
    }

    .red-ui-tray-body {
        flex: 1;
        overflow-y: auto;
        padding: 0;
    }

    .red-ui-tray-content {
        padding: 10px;
    }

    .red-ui-tray-footer {
        padding: 8px 10px;
        background: #f7f7f7;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: flex-end;
        gap: 5px;
    }

    .red-ui-button-primary {
        background: #AD1625 !important;
        color: #fff !important;
        border-color: #8C101C !important;
    }

    .red-ui-button-primary:hover {
        background: #8C101C !important;
    }

    .red-ui-info-header {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .red-ui-info-icon {
        width: 20px;
        height: 17px;
        border-radius: 3px;
        border: 1px solid #999;
        margin-right: 8px;
    }

    .red-ui-info-type {
        font-weight: 500;
        color: #444;
    }

    .red-ui-info-table {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
    }

    .red-ui-info-table td {
        padding: 4px 0;
    }

    .red-ui-info-table td:first-child {
        color: #888;
        width: 50px;
    }

    .red-ui-info-value {
        color: #555;
    }

    .red-ui-info-tips {
        margin-top: 15px;
        padding: 10px;
        background: #ffe;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 11px;
        color: #666;
    }

    .red-ui-info-section {
        margin: 10px 0;
        padding: 0 5px;
    }

    .red-ui-info-section h4 {
        font-size: 12px;
        font-weight: 600;
        color: #666;
        margin: 10px 0 5px;
        text-transform: uppercase;
    }

    .red-ui-info-section p {
        font-size: 12px;
        color: #444;
        margin: 5px 0;
        line-height: 1.5;
    }

    .red-ui-info-section dl {
        margin: 0;
        padding: 0;
    }

    .red-ui-info-section dt {
        font-weight: 500;
        margin-top: 8px;
    }

    .red-ui-info-section dt code {
        font-family: monospace;
        background: #f0f0f0;
        padding: 2px 4px;
        border-radius: 3px;
    }

    .red-ui-info-type-tag {
        font-size: 10px;
        color: #888;
        font-style: italic;
        margin-left: 5px;
    }

    .red-ui-info-section dd {
        font-size: 11px;
        color: #666;
        margin: 3px 0 0 15px;
    }

    .red-ui-info-section ul {
        margin: 5px 0;
        padding-left: 20px;
    }

    .red-ui-info-section ul li {
        font-size: 11px;
        margin: 3px 0;
    }

    .red-ui-info-section ul li a {
        color: #0066cc;
        text-decoration: none;
    }

    .red-ui-info-section ul li a:hover {
        text-decoration: underline;
    }

    .red-ui-info-details {
        border-top: 1px solid #eee;
        padding-top: 10px;
    }

    .red-ui-info-none {
        color: #888;
        text-align: center;
        padding: 20px;
    }

    /* Debug Panel */
    .red-ui-sidebar-debug {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .red-ui-debug-toolbar {
        padding: 5px 10px;
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .red-ui-debug-button {
        color: #888;
        text-decoration: none;
        padding: 3px 6px;
    }

    .red-ui-debug-button:hover {
        color: #444;
    }

    .red-ui-debug-count {
        margin-left: auto;
        background: #888;
        color: #fff;
        padding: 2px 8px;
        border-radius: 10px;
        font-size: 10px;
    }

    .red-ui-debug-content {
        flex: 1;
        overflow-y: auto;
    }

    .red-ui-debug-none {
        color: #888;
        text-align: center;
        padding: 20px;
    }

    .red-ui-debug-msg {
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        font-size: 12px;
    }

    .red-ui-debug-msg:hover {
        background: #efefef;
    }

    .red-ui-debug-msg-date {
        display: block;
        color: #a66;
        font-size: 10px;
    }

    .red-ui-debug-msg-topic {
        display: block;
        color: #888;
        font-size: 10px;
    }

    .red-ui-debug-msg-payload {
        display: block;
        background: #f8f8f8;
        padding: 4px 8px;
        border-radius: 3px;
        margin-top: 4px;
        font-family: Menlo, Consolas, monospace;
        font-size: 11px;
        white-space: pre-wrap;
        word-break: break-all;
        color: #2033d6;
    }

    /* ========== DIALOG ========== */
    .red-ui-editor-form .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        gap: 8px;
    }

    .red-ui-editor-form .form-row > label {
        width: 100px;
        min-width: 100px;
        color: #888;
        font-size: 12px;
    }

    .red-ui-editor-form .form-row > label i {
        margin-right: 5px;
    }

    .red-ui-editor-form .form-row input[type="text"],
    .red-ui-editor-form .form-row input[type="number"],
    .red-ui-editor-form .form-row select {
        flex: 1;
        padding: 6px 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 13px;
    }

    .red-ui-editor-form .form-row .input-small {
        width: 70px;
        flex: 0 0 70px;
    }

    .red-ui-editor-form .form-row-full {
        flex-direction: column;
        align-items: flex-start;
    }

    .red-ui-editor-form .form-row-full > label {
        margin-bottom: 5px;
        width: auto;
    }

    .red-ui-editor-form .form-row-full textarea,
    .red-ui-editor-form .form-row-full input {
        width: 100%;
    }

    .red-ui-editor-form .checkbox-label {
        display: flex;
        align-items: center;
        width: auto !important;
        color: #555;
        font-size: 12px;
        gap: 5px;
    }

    .red-ui-editor-form .code-editor {
        font-family: Menlo, Consolas, monospace;
        font-size: 12px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .red-ui-editor-form .form-row-inject {
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 15px;
    }

    .red-ui-button {
        padding: 6px 12px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        color: #555;
    }

    .red-ui-button:hover {
        background: #e6e6e6;
    }

    .red-ui-button-inject {
        background: #a6bbcf;
        color: #333;
        border-color: #8aa3bc;
    }

    .red-ui-button-inject:hover {
        background: #8aa3bc;
    }

    /* ========== TRAY (Node Property Editor) ========== */
    .red-ui-tray {
        position: absolute;
        top: 0;
        right: 315px; /* Next to sidebar */
        bottom: 0;
        width: 350px;
        background: #fff;
        border-left: 1px solid #bbb;
        display: flex;
        flex-direction: column;
        z-index: 100;
        box-shadow: -3px 0 10px rgba(0,0,0,0.1);
    }

    .red-ui-tray .red-ui-tray-header {
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
        padding: 0;
    }

    .red-ui-tray .red-ui-tray-titlebar {
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
    }

    .red-ui-tray .red-ui-tray-toolbar {
        padding: 8px 10px;
        display: flex;
        justify-content: flex-end;
        gap: 5px;
    }

    .red-ui-tray .red-ui-tray-body {
        flex: 1;
        overflow-y: auto;
    }

    .red-ui-tray .red-ui-tray-content {
        padding: 10px;
    }

    /* Dialog overrides */
    .e-dialog .e-footer-content {
        padding: 10px 15px;
        border-top: 1px solid #ddd;
    }

    .e-dialog .e-footer-content button {
        padding: 6px 15px;
    }

    .e-dialog .e-footer-content .e-primary {
        background: #AD1625;
        border-color: #8C101C;
    }

    .e-dialog .e-footer-content .e-primary:hover {
        background: #8C101C;
    }

    /* ========== DROPDOWN MENUS ========== */
    .red-ui-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        min-width: 200px;
        z-index: 1000;
        padding: 5px 0;
    }

    .red-ui-deploy-menu {
        right: 0;
        min-width: 300px;
    }

    .red-ui-main-menu {
        right: 0;
        min-width: 250px;
    }

    .red-ui-menu-item {
        display: block;
        padding: 8px 15px 8px 30px;
        color: #444;
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }

    .red-ui-menu-item:hover {
        background: #f0f0f0;
    }

    .red-ui-menu-item i {
        position: absolute;
        left: 10px;
        width: 16px;
        text-align: center;
    }

    .red-ui-menu-item.active i.fa-check {
        visibility: visible;
    }

    .red-ui-menu-item:not(.active) i.fa-check {
        visibility: hidden;
    }

    .red-ui-menu-item-desc {
        display: block;
        font-size: 11px;
        color: #888;
        margin-top: 2px;
        padding-left: 0;
    }

    .red-ui-menu-item.disabled {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
    }

    .red-ui-menu-shortcut {
        float: right;
        color: #888;
        font-size: 11px;
    }

    .red-ui-menu-divider {
        height: 1px;
        background: #ddd;
        margin: 5px 0;
    }

    .red-ui-deploy-button.disabled {
        opacity: 0.5;
        cursor: default;
    }

    .red-ui-deploy-button.deployed {
        background: #5a0a10;
    }

    .red-ui-deploy-button.deployed:hover {
        background: #5a0a10;
    }

    /* ========== DIALOGS ========== */
    .red-ui-dialog-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2000;
    }

    .red-ui-dialog {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 5px 25px rgba(0,0,0,0.3);
        min-width: 500px;
        max-width: 80%;
        max-height: 80%;
        display: flex;
        flex-direction: column;
    }

    .red-ui-dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background: #8C101C;
        color: #fff;
        border-radius: 4px 4px 0 0;
        font-weight: 500;
    }

    .red-ui-dialog-close {
        color: #fff;
        opacity: 0.7;
        cursor: pointer;
    }

    .red-ui-dialog-close:hover {
        opacity: 1;
    }

    .red-ui-dialog-body {
        padding: 15px;
        flex: 1;
        overflow-y: auto;
    }

    .red-ui-dialog-body p {
        margin: 0 0 10px;
        color: #666;
    }

    .red-ui-dialog-textarea {
        width: 100%;
        font-family: Menlo, Consolas, monospace;
        font-size: 12px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        resize: vertical;
    }

    .red-ui-dialog-tabs {
        display: flex;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .red-ui-dialog-tabs a {
        padding: 8px 15px;
        color: #666;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }

    .red-ui-dialog-tabs a.active {
        color: #444;
        border-bottom-color: #8C101C;
    }

    .red-ui-dialog-tabs a:hover:not(.active) {
        color: #444;
    }

    .red-ui-dialog-footer {
        padding: 10px 15px;
        background: #f7f7f7;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        border-radius: 0 0 4px 4px;
    }

    /* ========== STATUS INDICATOR ========== */
    .red-ui-status-indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 15px;
        color: #888;
        font-size: 12px;
    }

    .red-ui-status-indicator.running {
        color: #5a8;
    }

    .red-ui-status-indicator.stopped {
        color: #a55;
    }

    /* ========== CONTEXT MENU ========== */
    .red-ui-context-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
    }

    .red-ui-context-menu {
        position: fixed;
        z-index: 10000;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        min-width: 160px;
        padding: 5px 0;
    }

    .red-ui-context-menu-item {
        padding: 8px 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
    }

    .red-ui-context-menu-item:hover {
        background: #f0f0f0;
    }

    .red-ui-context-menu-item-danger {
        color: #c00;
    }

    .red-ui-context-menu-item-danger:hover {
        background: #fee;
    }

    .red-ui-context-menu-divider {
        height: 1px;
        background: #ddd;
        margin: 5px 0;
    }

    .red-ui-context-menu-label {
        padding: 5px 15px;
        font-size: 11px;
        color: #999;
        text-transform: uppercase;
    }
</style>
