@page "/editor"
@page "/"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Diagram.SymbolPalette
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using System.Collections.ObjectModel
@inject INodeRegistry NodeRegistry
@inject IFlowRuntime FlowRuntime
@inject IFlowStorage FlowStorage
@inject IJSRuntime JSRuntime

<PageTitle>Node-RED</PageTitle>

<div class="red-ui-editor">
    <!-- Header -->
    <div id="red-ui-header">
        <span class="red-ui-header-logo">
            <a href="#">
                <img src="https://nodered.org/about/resources/media/node-red-icon.svg" alt="" />
                <span>Node-RED</span>
            </a>
        </span>
        
        <ul class="red-ui-header-toolbar">
            <li class="red-ui-deploy-button-group">
                <a id="red-ui-header-button-deploy" class="red-ui-deploy-button" @onclick="OnDeployClick">
                    <span class="red-ui-deploy-button-content">
                        <i class="fa fa-download"></i>
                        <span>Deploy</span>
                    </span>
                </a>
                <a class="red-ui-deploy-button red-ui-deploy-button-options">
                    <i class="fa fa-caret-down"></i>
                </a>
            </li>
            <li>
                <a class="red-ui-header-button" href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Container -->
    <div id="red-ui-main-container">
        <!-- Custom Palette (Node-RED style) -->
        <div id="red-ui-palette">
            <div class="red-ui-palette-search">
                <input type="text" placeholder="filter nodes" @bind="PaletteFilter" @bind:event="oninput" />
                <i class="fa fa-search"></i>
            </div>
            <div class="red-ui-palette-scroll">
                @foreach (var category in PaletteCategories.Where(c => FilterCategory(c)))
                {
                    <div class="red-ui-palette-category">
                        <div class="red-ui-palette-header" @onclick="() => ToggleCategory(category.Name)">
                            <i class="fa fa-angle-down @(category.IsExpanded ? "expanded" : "")"></i>
                            <span>@category.Name</span>
                        </div>
                        @if (category.IsExpanded)
                        {
                            <div class="red-ui-palette-content">
                                @foreach (var node in category.Nodes.Where(n => FilterNode(n)))
                                {
                                    <div class="red-ui-palette-node" 
                                         style="background-color: @node.Color;"
                                         draggable="true"
                                         @ondragstart="() => OnPaletteDragStart(node)"
                                         @ondragend="OnPaletteDragEnd">
                                        @if (node.Inputs > 0)
                                        {
                                            <div class="red-ui-palette-port red-ui-palette-port-input"></div>
                                        }
                                        <div class="red-ui-palette-icon-container" style="background-color: @node.IconBackground;">
                                            <i class="@node.IconClass red-ui-palette-icon-fa"></i>
                                        </div>
                                        <div class="red-ui-palette-label">@node.Label</div>
                                        @if (node.Outputs > 0)
                                        {
                                            <div class="red-ui-palette-port red-ui-palette-port-output"></div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

        <!-- Workspace -->
        <div id="red-ui-workspace">
            <ul id="red-ui-workspace-tabs">
                @foreach (var flow in Flows)
                {
                    <li class="red-ui-tab @(CurrentFlowId == flow.Id ? "active" : "")"
                        @onclick="() => SwitchFlow(flow.Id)"
                        @ondblclick="() => EditFlowProperties(flow.Id)">
                        <a href="javascript:void(0)">
                            <span>@flow.Label</span>
                            @if (Flows.Count > 1)
                            {
                                <span class="red-ui-tab-close" @onclick:stopPropagation="true" @onclick="() => DeleteFlow(flow.Id)">
                                    <i class="fa fa-times"></i>
                                </span>
                            }
                        </a>
                    </li>
                }
                <li class="red-ui-tab-button" @onclick="AddNewFlow">
                    <a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                </li>
            </ul>

            <div id="red-ui-workspace-chart" 
                 @ondrop="OnWorkspaceDrop" 
                 @ondragover="OnWorkspaceDragOver"
                 @ondragover:preventDefault="true">
                <SfDiagramComponent @ref="@DiagramInstance"
                                    Connectors="@DiagramConnectors"
                                    Created="OnCreated"
                                    SelectionChanged="@OnSelectionChanged"
                                    ConnectionChanging="@OnConnectionChanging"
                                    Click="@OnDiagramClick"
                                    Height="100%"
                                    Width="100%"
                                    Nodes="@DiagramNodes"
                                    NodeCreating="OnNodeCreating"
                                    ConnectorCreating="OnConnectorCreating"
                                    SelectionSettings="@SelectionSettings"
                                    DrawingObject="@DrawingConnector"
                                    InteractionController="@DiagramInteractions.Default">
                    <SnapSettings Constraints="SnapConstraints.ShowLines">
                        <HorizontalGridLines LineColor="#eee" LineIntervals="@GridLineIntervals"></HorizontalGridLines>
                        <VerticalGridLines LineColor="#eee" LineIntervals="@GridLineIntervals"></VerticalGridLines>
                    </SnapSettings>
                    <PageSettings>
                        <BackgroundStyle Background="#fff" />
                    </PageSettings>
                </SfDiagramComponent>
            </div>

            <div id="red-ui-workspace-footer">
                <span class="red-ui-footer-left">
                    <i class="fa @(FlowRuntime.State == FlowState.Running ? "fa-circle status-running" : "fa-circle-o status-stopped")"></i>
                </span>
                <span class="red-ui-footer-right">
                    <a href="javascript:void(0)" @onclick="ZoomIn"><i class="fa fa-plus"></i></a>
                    <a href="javascript:void(0)" @onclick="ZoomOut"><i class="fa fa-minus"></i></a>
                    <a href="javascript:void(0)" @onclick="ZoomReset"><i class="fa fa-circle-o-notch"></i></a>
                </span>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="red-ui-sidebar">
            <ul id="red-ui-sidebar-tabs">
                <li class="@(SelectedSidebarTab == 0 ? "active" : "")" @onclick="() => SelectedSidebarTab = 0">
                    <a href="javascript:void(0)" title="Info"><i class="fa fa-info"></i></a>
                </li>
                <li class="@(SelectedSidebarTab == 1 ? "active" : "")" @onclick="() => SelectedSidebarTab = 1">
                    <a href="javascript:void(0)" title="Debug"><i class="fa fa-bug"></i></a>
                </li>
            </ul>
            
            <div id="red-ui-sidebar-content">
                @if (SelectedSidebarTab == 0)
                {
                    <div class="red-ui-sidebar-info">
                        @if (SelectedDiagramNode != null)
                        {
                            <!-- Node Property Panel (Node-RED style) -->
                            <div class="red-ui-tray-header">
                                <div class="red-ui-tray-titlebar">
                                    <ul class="red-ui-tray-breadcrumbs">
                                        <li><i class="fa fa-cube"></i> Edit @GetSelectedNodeType() node</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="red-ui-tray-body">
                                <div class="red-ui-tray-content">
                                    @RenderNodePropertyPanel()
                                </div>
                            </div>
                            <div class="red-ui-tray-footer">
                                <button class="red-ui-button" @onclick="CancelNodeEdit">Cancel</button>
                                <button class="red-ui-button red-ui-button-primary" @onclick="SaveNodeProperties">Done</button>
                            </div>
                        }
                        else
                        {
                            <div class="red-ui-info-none">
                                <p>Select a node to see its properties</p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="red-ui-sidebar-debug">
                        <div class="red-ui-debug-toolbar">
                            <a href="javascript:void(0)" class="red-ui-debug-button" @onclick="ClearDebugMessages">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="javascript:void(0)" class="red-ui-debug-button">
                                <i class="fa fa-filter"></i>
                            </a>
                            <span class="red-ui-debug-count">@DebugMessages.Count</span>
                        </div>
                        <div class="red-ui-debug-content">
                            @if (DebugMessages.Count == 0)
                            {
                                <div class="red-ui-debug-none">No messages</div>
                            }
                            @foreach (var msg in DebugMessages.TakeLast(100).Reverse())
                            {
                                <div class="red-ui-debug-msg" @onclick="() => HighlightDebugNode(msg.NodeId)">
                                    <span class="red-ui-debug-msg-date">@msg.Timestamp.ToString("M/d/yyyy, h:mm:ss tt")</span>
                                    <span class="red-ui-debug-msg-topic">node: @msg.NodeName</span>
                                    <pre class="red-ui-debug-msg-payload">@FormatDebugData(msg.Data)</pre>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* Render node property panel based on node type *@
@code {
    private RenderFragment RenderNodePropertyPanel() => __builder =>
    {
        var nodeType = GetSelectedNodeType();
        
        <div class="red-ui-editor-form">
            @* Common name field *@
            <div class="form-row">
                <label><i class="fa fa-tag"></i> Name</label>
                <input type="text" @bind="SelectedNodeName" placeholder="Name" />
            </div>

            @switch (nodeType)
            {
                case "inject":
                    <div class="form-row">
                        <label><i class="fa fa-envelope"></i> msg.payload</label>
                        <select @bind="InjectPayloadType">
                            <option value="date">timestamp</option>
                            <option value="str">string</option>
                            <option value="num">number</option>
                            <option value="bool">boolean</option>
                            <option value="json">JSON</option>
                        </select>
                    </div>
                    @if (InjectPayloadType != "date")
                    {
                        <div class="form-row">
                            <label></label>
                            <input type="text" @bind="InjectPayloadValue" placeholder="value" />
                        </div>
                    }
                    <div class="form-row">
                        <label><i class="fa fa-tasks"></i> msg.topic</label>
                        <input type="text" @bind="InjectTopic" />
                    </div>
                    <div class="form-row">
                        <label><i class="fa fa-repeat"></i> Repeat</label>
                        <select @bind="InjectRepeatType">
                            <option value="none">none</option>
                            <option value="interval">interval</option>
                        </select>
                    </div>
                    @if (InjectRepeatType == "interval")
                    {
                        <div class="form-row">
                            <label></label>
                            <span>every</span>
                            <input type="number" @bind="InjectRepeatInterval" min="0.1" step="1" class="input-small" />
                            <span>seconds</span>
                        </div>
                    }
                    break;

                case "debug":
                    <div class="form-row">
                        <label><i class="fa fa-list"></i> Output</label>
                        <select @bind="DebugOutput">
                            <option value="payload">msg.payload</option>
                            <option value="true">complete msg object</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label><i class="fa fa-random"></i> To</label>
                        <label class="checkbox-label">
                            <input type="checkbox" @bind="DebugToSidebar" /> debug window
                        </label>
                    </div>
                    <div class="form-row">
                        <label></label>
                        <label class="checkbox-label">
                            <input type="checkbox" @bind="DebugToConsole" /> system console
                        </label>
                    </div>
                    <div class="form-row">
                        <label></label>
                        <label class="checkbox-label">
                            <input type="checkbox" @bind="DebugToStatus" /> node status
                        </label>
                    </div>
                    break;

                case "function":
                    <div class="form-row">
                        <label><i class="fa fa-random"></i> Outputs</label>
                        <input type="number" @bind="FunctionOutputs" min="1" max="10" class="input-small" />
                    </div>
                    <div class="form-row form-row-full">
                        <label>Function</label>
                        <textarea @bind="FunctionCode" rows="10" class="code-editor"></textarea>
                    </div>
                    break;

                case "change":
                    <div class="form-row">
                        <label>Rules</label>
                        <select @bind="ChangeAction">
                            <option value="set">Set</option>
                            <option value="change">Change</option>
                            <option value="delete">Delete</option>
                            <option value="move">Move</option>
                        </select>
                        <span>msg.</span>
                        <input type="text" @bind="ChangeProperty" class="input-small" />
                    </div>
                    @if (ChangeAction == "set")
                    {
                        <div class="form-row">
                            <label></label>
                            <span>to</span>
                            <input type="text" @bind="ChangeValue" />
                        </div>
                    }
                    break;

                case "switch":
                    <div class="form-row">
                        <label>Property</label>
                        <span>msg.</span>
                        <input type="text" @bind="SwitchProperty" />
                    </div>
                    break;

                case "delay":
                    <div class="form-row">
                        <label>Action</label>
                        <select @bind="DelayAction">
                            <option value="delay">Delay each message</option>
                            <option value="rate">Rate Limit Messages</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label>For</label>
                        <input type="number" @bind="DelayTime" min="0" class="input-small" />
                        <select @bind="DelayUnits">
                            <option value="ms">Milliseconds</option>
                            <option value="s">Seconds</option>
                            <option value="m">Minutes</option>
                        </select>
                    </div>
                    break;

                case "template":
                    <div class="form-row">
                        <label>Property</label>
                        <span>msg.</span>
                        <input type="text" @bind="TemplateProperty" class="input-small" />
                    </div>
                    <div class="form-row form-row-full">
                        <label>Template</label>
                        <textarea @bind="TemplateContent" rows="8" class="code-editor"></textarea>
                    </div>
                    <div class="form-row">
                        <label>Output as</label>
                        <select @bind="TemplateOutputAs">
                            <option value="str">Plain text</option>
                            <option value="json">Parsed JSON</option>
                        </select>
                    </div>
                    break;
            }
        </div>
    };
}

<style>
    /* ========================================
       Node-RED Editor - Exact Replica CSS
       ======================================== */

    * {
        box-sizing: border-box;
    }

    .red-ui-editor {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #555;
        overflow: hidden;
    }

    /* ========== HEADER ========== */
    #red-ui-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background: #000;
        border-bottom: 2px solid #C02020;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 100;
    }

    .red-ui-header-logo a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #C7C7C7;
    }

    .red-ui-header-logo img {
        height: 32px;
        margin-right: 8px;
    }

    .red-ui-header-logo span {
        font-size: 16px;
    }

    .red-ui-header-toolbar {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        align-items: center;
    }

    .red-ui-header-toolbar > li {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .red-ui-deploy-button-group {
        display: flex;
        height: 100%;
        margin-right: 10px;
    }

    .red-ui-deploy-button {
        display: flex;
        align-items: center;
        background: #8C101C;
        color: #eee;
        padding: 0 12px;
        text-decoration: none;
        cursor: pointer;
        height: 100%;
    }

    .red-ui-deploy-button:hover {
        background: #6E0A1E;
    }

    .red-ui-deploy-button i {
        margin-right: 6px;
    }

    .red-ui-deploy-button-options {
        border-left: 1px solid #6E0A1E;
        padding: 0 8px;
    }

    .red-ui-header-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #eee;
        padding: 0 15px;
        height: 100%;
        text-decoration: none;
        font-size: 18px;
    }

    .red-ui-header-button:hover {
        background: #121212;
    }

    /* ========== MAIN CONTAINER ========== */
    #red-ui-main-container {
        position: absolute;
        top: 42px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    /* ========== PALETTE ========== */
    #red-ui-palette {
        width: 180px;
        min-width: 180px;
        background: #f3f3f3;
        border-right: 1px solid #bbb;
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    .red-ui-palette-search {
        position: relative;
        background: #fff;
        height: 35px;
        padding: 3px;
        border-bottom: 1px solid #bbb;
    }

    .red-ui-palette-search input {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 25px 5px 8px;
        font-size: 12px;
    }

    .red-ui-palette-search i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
    }

    .red-ui-palette-scroll {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .red-ui-palette-category {
        border-bottom: 1px solid #ddd;
    }

    .red-ui-palette-header {
        position: relative;
        background: #f3f3f3;
        color: #444;
        cursor: pointer;
        text-align: left;
        padding: 9px 9px 9px 30px;
        font-weight: bold;
        font-size: 12px;
    }

    .red-ui-palette-header:hover {
        background: #eee;
    }

    .red-ui-palette-header > i {
        position: absolute;
        left: 11px;
        top: 12px;
        transition: transform 0.2s ease-in-out;
        transform: rotate(-90deg);
        font-size: 12px;
    }

    .red-ui-palette-header > i.expanded {
        transform: rotate(0deg);
    }

    .red-ui-palette-content {
        background: #fff;
        padding: 3px;
    }

    .red-ui-palette-node {
        cursor: move;
        margin: 10px auto;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #999;
        width: 122px;
        position: relative;
        display: flex;
        align-items: center;
    }

    .red-ui-palette-node:first-child {
        margin-top: 15px;
    }

    .red-ui-palette-node:last-child {
        margin-bottom: 15px;
    }

    .red-ui-palette-node:hover {
        border-color: transparent;
        box-shadow: 0 0 0 2px #ff7f0e;
    }

    .red-ui-palette-port {
        position: absolute;
        top: 7px;
        box-sizing: border-box;
        background: #d9d9d9;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        border: 1px solid #999;
    }

    .red-ui-palette-port-input {
        left: -5px;
    }

    .red-ui-palette-port-output {
        right: -6px;
    }

    .red-ui-palette-node:hover .red-ui-palette-port {
        background-color: #eee;
    }

    .red-ui-palette-icon-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30px;
        border-right: 1px solid rgba(0,0,0,0.1);
        border-radius: 4px 0 0 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .red-ui-palette-icon-fa {
        color: #fff;
        font-size: 14px;
    }

    .red-ui-palette-label {
        color: #333;
        font-size: 13px;
        margin-left: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 5px;
    }

    /* ========== WORKSPACE ========== */
    #red-ui-workspace {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: #f3f3f3;
        min-width: 0;
    }

    #red-ui-workspace-tabs {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #f3f3f3;
        height: 35px;
        align-items: flex-end;
        border-bottom: 1px solid #bbb;
    }

    .red-ui-tab {
        background: #f0f0f0;
        border: 1px solid #bbb;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        margin-left: 5px;
        position: relative;
        top: 1px;
    }

    .red-ui-tab a {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        text-decoration: none;
        color: #666;
        font-size: 12px;
    }

    .red-ui-tab.active {
        background: #fff;
        border-bottom: 1px solid #fff;
    }

    .red-ui-tab.active a {
        color: #444;
    }

    .red-ui-tab:hover:not(.active) {
        background: #e6e6e6;
    }

    .red-ui-tab-close {
        margin-left: 8px;
        opacity: 0.5;
        font-size: 10px;
    }

    .red-ui-tab-close:hover {
        opacity: 1;
    }

    .red-ui-tab-button a {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        color: #888;
        text-decoration: none;
    }

    .red-ui-tab-button a:hover {
        color: #444;
    }

    #red-ui-workspace-chart {
        flex: 1;
        background: #fff;
        position: relative;
    }

    #red-ui-workspace-footer {
        height: 25px;
        background: #f7f7f7;
        border-top: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 12px;
    }

    .status-running {
        color: #5a8;
    }

    .status-stopped {
        color: #999;
    }

    .red-ui-footer-right a {
        color: #888;
        padding: 2px 6px;
        text-decoration: none;
    }

    .red-ui-footer-right a:hover {
        color: #444;
    }

    /* ========== SIDEBAR ========== */
    #red-ui-sidebar {
        width: 315px;
        min-width: 315px;
        background: #fff;
        border-left: 1px solid #bbb;
        display: flex;
        flex-direction: column;
    }

    #red-ui-sidebar-tabs {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

    #red-ui-sidebar-tabs li {
        flex: 1;
        text-align: center;
    }

    #red-ui-sidebar-tabs li a {
        display: block;
        padding: 10px;
        color: #888;
        text-decoration: none;
    }

    #red-ui-sidebar-tabs li.active a {
        color: #444;
        background: #fff;
        border-bottom: 2px solid #8f0000;
    }

    #red-ui-sidebar-tabs li:hover:not(.active) a {
        color: #444;
        background: #f0f0f0;
    }

    #red-ui-sidebar-content {
        flex: 1;
        overflow-y: auto;
    }

    /* Info Panel */
    .red-ui-sidebar-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .red-ui-tray-header {
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

    .red-ui-tray-titlebar {
        padding: 8px 10px;
    }

    .red-ui-tray-breadcrumbs {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #666;
    }

    .red-ui-tray-breadcrumbs i {
        margin-right: 5px;
        color: #888;
    }

    .red-ui-tray-body {
        flex: 1;
        overflow-y: auto;
        padding: 0;
    }

    .red-ui-tray-content {
        padding: 10px;
    }

    .red-ui-tray-footer {
        padding: 8px 10px;
        background: #f7f7f7;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: flex-end;
        gap: 5px;
    }

    .red-ui-button-primary {
        background: #AD1625 !important;
        color: #fff !important;
        border-color: #8C101C !important;
    }

    .red-ui-button-primary:hover {
        background: #8C101C !important;
    }

    .red-ui-info-header {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .red-ui-info-icon {
        width: 20px;
        height: 17px;
        border-radius: 3px;
        border: 1px solid #999;
        margin-right: 8px;
    }

    .red-ui-info-type {
        font-weight: 500;
        color: #444;
    }

    .red-ui-info-table {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
    }

    .red-ui-info-table td {
        padding: 4px 0;
    }

    .red-ui-info-table td:first-child {
        color: #888;
        width: 50px;
    }

    .red-ui-info-value {
        color: #555;
    }

    .red-ui-info-tips {
        margin-top: 15px;
        padding: 10px;
        background: #ffe;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 11px;
        color: #666;
    }

    .red-ui-info-none {
        color: #888;
        text-align: center;
        padding: 20px;
    }

    /* Debug Panel */
    .red-ui-sidebar-debug {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .red-ui-debug-toolbar {
        padding: 5px 10px;
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .red-ui-debug-button {
        color: #888;
        text-decoration: none;
        padding: 3px 6px;
    }

    .red-ui-debug-button:hover {
        color: #444;
    }

    .red-ui-debug-count {
        margin-left: auto;
        background: #888;
        color: #fff;
        padding: 2px 8px;
        border-radius: 10px;
        font-size: 10px;
    }

    .red-ui-debug-content {
        flex: 1;
        overflow-y: auto;
    }

    .red-ui-debug-none {
        color: #888;
        text-align: center;
        padding: 20px;
    }

    .red-ui-debug-msg {
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        font-size: 12px;
    }

    .red-ui-debug-msg:hover {
        background: #efefef;
    }

    .red-ui-debug-msg-date {
        display: block;
        color: #a66;
        font-size: 10px;
    }

    .red-ui-debug-msg-topic {
        display: block;
        color: #888;
        font-size: 10px;
    }

    .red-ui-debug-msg-payload {
        display: block;
        background: #f8f8f8;
        padding: 4px 8px;
        border-radius: 3px;
        margin-top: 4px;
        font-family: Menlo, Consolas, monospace;
        font-size: 11px;
        white-space: pre-wrap;
        word-break: break-all;
        color: #2033d6;
    }

    /* ========== DIALOG ========== */
    .red-ui-editor-form .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        gap: 8px;
    }

    .red-ui-editor-form .form-row > label {
        width: 100px;
        min-width: 100px;
        color: #888;
        font-size: 12px;
    }

    .red-ui-editor-form .form-row > label i {
        margin-right: 5px;
    }

    .red-ui-editor-form .form-row input[type="text"],
    .red-ui-editor-form .form-row input[type="number"],
    .red-ui-editor-form .form-row select {
        flex: 1;
        padding: 6px 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 13px;
    }

    .red-ui-editor-form .form-row .input-small {
        width: 70px;
        flex: 0 0 70px;
    }

    .red-ui-editor-form .form-row-full {
        flex-direction: column;
        align-items: flex-start;
    }

    .red-ui-editor-form .form-row-full > label {
        margin-bottom: 5px;
        width: auto;
    }

    .red-ui-editor-form .form-row-full textarea,
    .red-ui-editor-form .form-row-full input {
        width: 100%;
    }

    .red-ui-editor-form .checkbox-label {
        display: flex;
        align-items: center;
        width: auto !important;
        color: #555;
        font-size: 12px;
        gap: 5px;
    }

    .red-ui-editor-form .code-editor {
        font-family: Menlo, Consolas, monospace;
        font-size: 12px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .red-ui-editor-form .form-row-inject {
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 15px;
    }

    .red-ui-button {
        padding: 6px 12px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        color: #555;
    }

    .red-ui-button:hover {
        background: #e6e6e6;
    }

    .red-ui-button-inject {
        background: #a6bbcf;
        color: #333;
        border-color: #8aa3bc;
    }

    .red-ui-button-inject:hover {
        background: #8aa3bc;
    }

    /* Dialog overrides */
    .e-dialog .e-footer-content {
        padding: 10px 15px;
        border-top: 1px solid #ddd;
    }

    .e-dialog .e-footer-content button {
        padding: 6px 15px;
    }

    .e-dialog .e-footer-content .e-primary {
        background: #AD1625;
        border-color: #8C101C;
    }

    .e-dialog .e-footer-content .e-primary:hover {
        background: #8C101C;
    }
</style>
